@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700');

html {
font-family: 'Source Sans Pro', sans-serif;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.7em;
}

body {
  margin: 0px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

button {
  height:40px;
  min-width: 150px;
  font-size: 16px;
  border:none;
  border-radius: 30px;
  padding:0 25px;
  cursor: pointer;
  overflow: hidden;
  background-color:#5C41B4;
  color:white;
}

button:hover {
  background-color: #5C41B4;
  color:white;
}
#container {
  background: #11e8bb; /* Old browsers */
    background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  }

#main {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#containerBackground {
  position: absolute;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1E1926 , rgba(255, 255, 255, 0.3)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1E1926 , rgba(255, 255, 255, 0.3)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1E1926 , rgba(255, 255, 255, 0.3));  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1E1926 , rgba(255, 255, 255, 0.3));  /* Standard syntax */
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* the message */
#middleWrapper {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 11px rgba(255, 255, 255, 0.4);
  font-family: openSansSemiBold;
  background-color: rgba(30, 25, 38, 0.6);
  width: 300px;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 2px;
  text-align: center;
}

#middle-logo {
  width:66%;
  -webkit-filter: drop-shadow( 0px 0px 16px rgba(255, 255, 255, 0.6));
  filter: drop-shadow( 0px 0px 16px rgba(255, 255, 255, 0.6));
}
#middleHeaderOne {
  font-size: 2em;
  margin-top:10px;
  text-transform: uppercase;
}
.wrapperslogan{
  margin-bottom: -10px;
}

.wrapperHR {
  width: 68%;
  opacity: 0.4;
}
.wrapperHR2{
  width:68%;
  border-top: 1px solid #1E1926;
  opacity: 0.4;
  margin-left:50%;
  transform:translateX(-50%);
}
.color-purple{
  color:#5C41B4;
}
.finalwrappertext{
  width:74%;
  margin-left: 50%;
transform: translateX(-50%);
}
#underline {
  position: relative;
  background-color: #f6c472;
  width: 20%;
  height: 0.5vh;
  left: 40%;
}

#svgTest {
  position: relative;
  width: 20%;
  margin-top: 2%;
  margin-bottom: 2.5%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#colorPickWrapper {
  position: relative;
  width: 74%;
  height: 90px;
  border-radius: 2px;
}

#colorPickerText {
  top: 0%;
  color:white;
  text-align: center;
  left:25%;
  position: absolute;
}

#colorPickerColors {
  position: absolute;
  width: 76%;
  height: 40px;
  top:50%;
  padding:15px 20px 10px 35px;
  cursor: pointer;
  border:2px solid white;
  border-radius: 40px;
}

#colorPickerColors span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: inline;
  width: 14%;
  height: 80%;
  float: left;
  border-radius: 50%;
  margin-right: 12px;
}

#colorPickerColors span:hover {
  border: 2px solid white;
}

#colorPickerColorsRed {
  background-color: #AC9DFF;
}

#colorPickerColorsYellow {
  background-color: #AC9DFF;
}

#colorPickerColorsLime {
  background-color: #64F6F0;
}

#colorPickerColorsGreen {
  background-color:#938E9B;
}

#colorPickerColorsPink {
  background-color: #F0EFF2;

}

#finalwrapper {
  position: absolute;
  color: #1E1926;
  text-shadow: 0px 0px 18px rgba(255, 255, 255, 0.4);
  font-family: openSansSemiBold;
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  border-radius: 2px;
  text-align: center;
  display: none;
}

.finalwrapperh2{
  font-size:2.2em;
  margin-bottom: 0px;
}
/*@font-face {
  font-family: openSans;
  src: url('css/fonts/open_sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: openSansBold;
  src: url('css/fonts/open_sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: openSansSemiBold;
  src: url('css/fonts/open_sans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: latoHeavy;
  src: url('css/fonts/lato/Lato-Heavy.ttf');
}

@font-face {
  font-family: latoBold;
  src: url('css/fonts/lato/Lato-Bold.ttf');
}*/


@media screen and (max-width: 480px) {
    #middleWrapper h1 {
       font-size: 2em;
    }
    #middleWrapper {
      max-width: 450px;
    }
    #middleWrapper {
      width:90%;
    }

    #colorPickerColors {
      width:95%;
    }

    #colorPickerText {
      left:30%;
    }
}
