@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700');

html {
font-family: 'Source Sans Pro', sans-serif;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 200;
  font-size: 2.7em;
}

body {
  margin: 0px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#main {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#containerBackground {
  position: absolute;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1E1926 , rgba(255, 255, 255, 0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1E1926 , rgba(255, 255, 255, 0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1E1926 , rgba(255, 255, 255, 0.5));  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1E1926 , rgba(255, 255, 255, 0.5));  /* Standard syntax */
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#middleWrapper {
  position: absolute;
  bottom:40vh;
  width: 400px;
  text-align: left;
  color: white;
  margin-left: 5vw;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  font-family: openSansSemiBold;
}

#middleHeaderOne {
  font-size: 1.5vw;
  color: white;
  letter-spacing: 0.7vw;
  margin-bottom: 1.9vh;
}

#underline {
  position: relative;
  background-color: #f6c472;
  width: 20%;
  height: 0.5vh;
  left: 40%;
}

#svgTest {
  position: relative;
  width: 20%;
  margin-top: 2%;
  margin-bottom: 2.5%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#colorPickWrapper {
  position: relative;
  width: 74%;
  height: 90px;
  border-radius: 2px;
}

#colorPickerText {
  top: 0%;
  color:white;
  text-align: center;
  left:25%;
  position: absolute;
}

#colorPickerColors {
  position: absolute;
  width: 76%;
  height: 40px;
  top:50%;
  padding:15px 20px 10px 35px;
  cursor: pointer;
  border:2px solid white;
  border-radius: 40px;
}

#colorPickerColors span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: inline;
  width: 14%;
  height: 80%;
  float: left;
  border-radius: 50%;
  margin-right: 12px;
}

#colorPickerColors span:hover {
  border: 2px solid white;
}

#colorPickerColorsRed {
  background-color: #512DA8;
}

#colorPickerColorsYellow {
  background-color: #EEFF41;
}

#colorPickerColorsLime {
  background-color: #64F6F0;
}

#colorPickerColorsGreen {
  background-color:#938E9B;
}

#colorPickerColorsPink {
  background-color: #F0EFF2;

}

/*@font-face {
  font-family: openSans;
  src: url('css/fonts/open_sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: openSansBold;
  src: url('css/fonts/open_sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: openSansSemiBold;
  src: url('css/fonts/open_sans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: latoHeavy;
  src: url('css/fonts/lato/Lato-Heavy.ttf');
}

@font-face {
  font-family: latoBold;
  src: url('css/fonts/lato/Lato-Bold.ttf');
}*/


@media screen and (max-width: 480px) {
    #middleWrapper h1 {
       font-size: 2em;
    }
    #middleWrapper {
      max-width: 450px;
    }
    #middleWrapper {
      width:90%;
    }

    #colorPickerColors {
      width:95%;
    }

    #colorPickerText {
      left:30%;
    }
}
